* {
		margin: 0;
		padding: 0;
}

:root{
  --neutral: #dcd5b8;
  --main-dark: ivory;
  --main-med: #748b6d;
  --main-lt: #033300;
  --sec-med: #cc8b65;
  --sec-lt: #dbe9a2;
  --contrast-bright: #d05663;
  --contrast-dark: #635048;
}


/*
colors:
MMface: #fdd2b0;
MMlips: #e29d97;
MMhair: #e29d97;
Trees: #5e6346

 */





body {
	margin: 0;
 	background-color: var(--main-dark);
 	color: var(--main-lt);
}

.wrapper {
	min-height: 100%;
  display: flex;
	flex-direction: column;
	/* 	justify-content: center;	*/

}

.page_header, .page_footer {
	flex-shrink: 0;
}

.page_body {
	flex-grow: 1;
	flex-basis: 100vh;
}

h1, h2, h3, h4 {
	font-family:  paladio, Times, serif;
	padding: 1.5rem;
}

h2 {
	font-size: -1.125em;
}
p {
	margin: .25em 1.5em;
	max-width: 800px;
	font-family: Helvetica, Ariel, sans-serif;
}


/* CAROUSEL */

.images {
	display: block;
	place-items: center;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	border-radius: 15px;
	overflow: hidden;
	height: 80vh;
}

.slider {
	position: relative;
	border-radius: 15px;
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 80vh;
  position: absolute;
	background: var(--main-dark);
}

.slide img {
	width: 100%;
 	height: 100%;
	object-fit: contain;
 	background-color: var(--main-dark);
	overflow: hidden;

}


.img_btn {
	position: absolute;
	width: 40px;
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
	background-color: #00000080;
	font-size: 18px;
	transition: .5s;
}

.img_btn:hover {
	background-color: var(--main-dark);
}

.img_btn span {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 4px solid #fff;
	transition: .4s;
}

.img_btn#nxt span {
	top: 50%;
	right: 35%;
	transform: translateY(-50%) rotate(-45deg);
	border-left: none;
	border-top: none;
}

.img_btn#nxt:hover span {
	right: 22%;
}

.img_btn#nxt span:before {
	content: '';
	position: absolute;
	width: 23px;
	height: 4px;
	background: #fff;
	transform-origin: right;
	transform: rotate(45deg) translate(-4px,18.5px) scale(0);
	border-radius: 4px;
	transition: .5s;
}

.img_btn#nxt:hover span:before {
	transform: rotate(45deg) translate(-4px,18.5px) scale(1);
}


.img_btn#prv span {
	top: 50%;
	left: 35%;
	transform: translateY(-50%) rotate(-45deg);
	border-bottom: none;
	border-right: none;
}

.img_btn#prv:hover span {
	left: 22%;
}

.img_btn#prv span:before {
	content: '';
	position: absolute;
	width: 23px;
	height: 4px;
	background: #fff;
	transform-origin: left;
	transform: rotate(45deg) translate(-5px,2px) scale(0);
	border-radius: 4px;
	transition: .5s;
}

.img_btn#prv:hover span:before {
	transform: rotate(45deg) translate(-5px,2px) scale(1);
}

#prv {
	top: 40vh;
	left: 2vw;
}

#nxt {
	top: 40vh;
	right: 2vw;
}

/* END CAROUSEL*/

/* HEADER */

header {

}

.menu {
	display: flex;
	align-items: stretch;
	justify-content: left;
	background: var(--main-med);
	padding: 1em;
}

.menu .menu-link {
	/* 	display: flex;	*/
	background: #ffffff80;
	flex-basis: auto;
	/* 	align-self: center;	*/

}

.menu a {
	color: var(--sec-lt);
	padding: .75em;;
	background: var(--main-med);
	/* 	align-self: center;	*/
	flex-grow: 1;
	border-radius: 5px;
	text-decoration: none;
	font-size: 1.123em;
}

.menu a:hover {
	background: var(--sec-lt);
	color: var(--main-lt);
	transition: .7s;
}

#story {
	flex-shrink: 1;
}





.landing {
	padding-top: 2em;

	/* 	padding-bottom: 4em;	*/


	display: block;
}

.martha {
	position: sticky;
	top: 0;
}


header h1 {

	padding-bottom: 0;
}

header h4 {
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 1.15em;
	padding-top: .67em;
}

section {
	height: 100%;
}

#obit {
	margin: 1em 25%;
	display: flex;
}

#obit-link {
	text-decoration: none;
	color: var(--main-dark);
	padding: 1.5em 2em;
	border-radius: 15px;
	background-color: var(--main-med);
	font-size: 1.123em;
	box-shadow: 10px 5px 5px #00000080;

}

#obit-link:hover {
	background-color: var(--sec-lt);
	transition: .7s;
}








footer{
	/*
position: sticky;
	bottom: 0;*/
	/* 	max-width: 100%;	*/

  padding: 1em;
	padding-top: 3em;
	background: linear-gradient(ivory, var(--main-med));
	font-family: Helvetica, Ariel, sans-serif;
	display: flex;
	justify-content: center;
	flex-direction: column;
}


.foot {
	display: flex;

	justify-content: space-around;
	flex-basis: 100%;
	flex-direction: row;
}

.foot a {
	color: var(--main-lt);
}

.contribute, .yourMemorial {
	text-decoration: none;
	color: var(--main-dark);
	padding: 1em;
	border-radius: 5px;
	flex-grow: 1;
	margin: 1em;
	box-shadow: 5px 5px 5px #00000080, -5px -1px 5px #00000080;;
	width: 45%;
	text-align: center;
	flex-grow: 5;
}

.contribute:hover, .yourMemorial:hover {
	background-color: var(--sec-lt);
	transition: .7s;
}

.contribute {
	font-size: 1.125em;
}

.credit {

}


.btm.credit {

}



@media screen and ( max-width: 510px ){
  h1 {
	font-size: 1.5em;
  }
 .timeline {
    margin: 0;
  }

/*
  #img-div {
	background: url(images/Annegret_and_Andreas.jpeg) no-repeat left top fixed 500px auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
 */

@media screen and ( min-width: 2000px ) {
	#tribute-info {
		justify-content: flex-end;
	}
}
